<div class="container">
  <h1>Categories#index</h1>
  <% @categories.each do |category|%>
    <p> id: <%= category.id%>
    <%= category.title %>
    <%= category.parent_id %>
    </p>
  <% end %>
</div>
