<div class="container">
  <h1>Categories#index</h1>
  <p><% @categories.each do |category|%>
    id: <%= category.id%>
    <%= category.title %>
    <%= category.parent_id %>
    <% end %>
  </p>
</div>
